{%load static%}
<!DOCTYPE html>
<html style="font-size: 16px;">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <meta name="keywords" content="Оставьте ваши контактные данны​​е:">
    <meta name="description" content="">
    <meta name="page_type" content="np-template-header-footer-from-plugin">
    <title>Главная</title>
    <link rel="stylesheet" href="{% static 'contact_form/css/nicepage.css'%}" media="screen">
<link rel="stylesheet" href="{% static 'contact_form/css/Главная.css'%}" media="screen">
    <script class="u-script" type="text/javascript" src="{% static 'contact_form/js/jquery.js'%}" defer=""></script>
    <script class="u-script" type="text/javascript" src="{% static 'contact_form/js/nicepage.js'%}" defer=""></script>
    <link id="u-theme-google-font" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i|Open+Sans:300,300i,400,400i,500,500i,600,600i,700,700i,800,800i">
    
    
    <script type="application/ld+json">{
		"@context": "http://schema.org",
		"@type": "Organization",
		"name": ""
}</script>
    <meta name="theme-color" content="#478ac9">
    <meta property="og:title" content="Главная">
    <meta property="og:type" content="website">
  </head>
  <body data-home-page="Форма.html" data-home-page-title="Форма" class="u-body u-xl-mode">
    <section class="u-clearfix u-image u-section-1" id="sec-0efa" data-image-width="518" data-image-height="922">
      <div class="u-align-left-xs u-clearfix u-sheet u-valign-middle-lg u-valign-middle-xl u-sheet-1">
        <div class="u-expanded-width u-form u-form-1">
          <form action="#" method="POST" class="u-clearfix u-form-spacing-11 u-form-vertical u-inner-form" source="custom" name="form" style="padding: 0px;">
            {% csrf_token %}
            
            <div class="u-form-group u-form-name u-label-top">
              <label for="name" class="u-custom-font u-label u-text-font u-text-white u-label-1">ИМЯ</label>
              <input type="text" id="name" name="name" class="u-border-1 u-border-grey-30 u-input u-input-rectangle u-radius-50 u-text-black u-white u-input-1" required="">
            </div>
            <div class="u-form-email u-form-group u-label-top">
              <label for="email" class="u-custom-font u-label u-text-font u-text-white u-label-2">E-MAIL</label>
              <input type="email" id="email" name="email" class="u-border-1 u-border-grey-30 u-input u-input-rectangle u-radius-50 u-text-black u-white u-input-2" required="">
            </div>
            <div class="u-form-group u-form-phone u-label-top u-form-group-3">
              <label for="phone_number" class="u-custom-font u-label u-text-font u-text-white u-label-3">ТЕЛЕФОН</label>
              <input type="tel" pattern="\+?\d{0,3}[\s\(\-]?([0-9]{2,3})[\s\)\-]?([\s\-]?)([0-9]{3})[\s\-]?([0-9]{2})[\s\-]?([0-9]{2})" id="phone_number" name="phone_number" class="u-border-1 u-border-grey-30 u-input u-input-rectangle u-radius-50 u-text-black u-white u-input-3" required="">
            </div>
            <div class="u-form-group u-label-top u-form-group-4">
              <label for="date_of_birth" class="u-custom-font u-label u-text-font u-text-white u-label-4">ДАТА РОЖДЕНИЯ</label>
              <!-- <input type="text" id="date_of_birth" name="date_of_birth" class="u-border-1 u-border-grey-30 u-input u-input-rectangle u-radius-50 u-text-black u-white u-input-4" required="required"> -->
              <input type="date" pattern ="(0[1-9]|[12][0-9]|3[01])[- /.](0[1-9]|1[012])[- /.](19|20)\d\d " id="date_of_birth" name="date_of_birth" class="u-border-1 u-border-grey-30 u-input u-input-rectangle u-radius-50 u-text-black u-white u-input-4" required="required">
            </div>
            <div class="u-align-center u-form-group u-form-submit u-label-top">
              <input type="submit" value="Отправить" class="u-form-control-hidden"> 
               <a href="#" class="u-border-none u-btn u-btn-round u-btn-submit u-button-style u-custom-color-1 u-radius-50 u-text-body-alt-color u-btn-1">Отправить</a>
            </div>
          </div>
          
          <input type="hidden" value="" name="recaptchaResponse">
        </form>
      </div>
      </div>
    </section>
    
    
    

      
    </body>
</html>